<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    {% block meta %}
    {% endblock %}

    {% include 'page/landings/fingerprint/components/_head.twig' %}
    {% block head %}
    {% endblock %}
</head>
<body class="body">
    <div class="wrapper{% if app.request.get('_route') == 'homepage' %} wrapper--main{% endif %}">
        <main class="main">
            {% include 'page/landings/fingerprint/components/_header.twig' %}
            {% block content %}
            {% endblock %}
        </main>
        {% include 'page/landings/fingerprint/components/_footer.twig' %}
    </div>

    {% block script %}
    {% endblock %}
</body>
</html>